@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#sessao-home{
    width: 100%;
    height: 100%;
    background: #071607;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #fff;
    font-family: 'Jost';
    padding-top: 2%;
}

.bola-menu{
    background: #229442;
    width: 5px;
    height: 5px;
    border-radius: 90%;
    display: flex;
}

.container-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-inicio{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    color: #fff;
    margin-top: 2%;
    font-size: 14px;
    font-family: 'Jost';
}

.botao-conhecer{
    width: 150px;
    height: 60px;
    background: #1d44287c;
    display: flex;
    align-items: center;
    text-align: center;
    color: #12E20E;
    margin-top: 5%;
    padding-left: 5%;
    border-radius: 10px;
    font-family: 'Jost';
}

.blur-inicio{
    width: 1030px;
    height: 600px;
    margin-left: -250%;
    z-index: 1;
}

.img-texto{
    width: 70%;
    margin-top: -15%;
}

.img-inicio{
    width: 90%;
    height: 10%;
    margin-top: 3%;
}
