/* --- IMPORTANDO PADRÕES DO SITE --- */
@import url(./partials/typography.css);
@import url(./partials/colors.css);
@import url(./partials/layout.css);
@import url(./partials/spacing.css);
@import url(./partials/menu-st.css);
@import url(./partials/buttons.css);

/* --- IMPORTANDO AS PAGINAS DO SITE INSTITUCIONAL --- */
@import url(./pages/site-institucional/sessaoInicio.css);
@import url(./pages/site-institucional/sessaoSobre.css);
@import url(./pages/site-institucional/sessao-importante.css);
@import url(./pages/site-institucional/sessao-pilares.css);
@import url(./pages/site-institucional/sessao-planos.css);

/* --- NÃO PODE SER IMPORTADO OS ARQUIVOS DE LOGIN - CADASTRO - ALTERARSENHA --- */
/* @import url(./pages/site-institucional/login_css.css);
@import url(./pages/site-institucional/cadastro_css.css);
@import url(./pages/site-institucional/alterarsenha.css); */

/* --- IMPORTANDO AS PAGINAS DA DASHBOARD --- */

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/* LARGURA DA BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 7px;
}

/* FUNDA DA BARRA DE ROLAGEM */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* COR DA BARRA DE MEDIDA */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px;
}

/* HOVER DA BARRA DE MEDIDA */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}