#page-dashboard-details-use {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: var(--gap-3);
    overflow-y: auto;

    & main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: calc(100% - 91.7%);
        width: 92%;
        height: 100%;
    }
}


.dash-alert-topo-use {
    width: 97%;
    height: 13%;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.father-dash-alert-use {
    width: 100%;
    height: 92%;
    /* background-color: green; */
    /* margin-top: 1.2%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: end; */
}
.father-dash-alert-use-2 {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    /* margin-top: 1.2%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: end; */
}

.dash-alert-titulo-detalhe {
    width: 100%;
    /* background: #aa09ca; */
    display: flex;

    /* & h3 {
        margin-top: 3px;
    } */
}
.dash-alert-titulo-detalhe-2 {
    width: 90%;
    /* background: #aa09ca; */
    display: flex;
    
    & h3 {
        margin-top: 10px;
    }
}
.dash-alert-titulo-detalhe-componente {
    width: 90%;
    /* background: #aa09ca; */
    display: flex;

    & h3 {
        margin-top: 10px;
    }
}

.father-dash-lista-alertas {
    width: 100%;
    height: 100%;

    /* padding: 5%; */
    /* margin-bottom: 2%; */ 
    gap: 2px;
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    /* justify-content: start; */

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);

    /* background-color: blue; */
}

.dash-use-total-medições {
    
    width: 90%;
    height: 17%;
    
    /* background-color: rgb(255, 0, 179); */
    margin-left: 5%;
    margin-top: 4%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    position: relative;
    /* padding: var(--gap-1); */
    border-radius: 20px;
    /* border: 2px solid rgba(255, 255, 255, 0.50); */
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    background-color: rgba(255, 255, 255, 0.11);
}

.dash-alert-total {

    width: 90%;
    height: 25.5%;

    gap: var(--gap-1);
    margin-top: 2%;
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    /* padding: var(--gap-1); */
    border-radius: 20px;
    
}

.dash-alert-lista-coluna-cpu {
    width: 50%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--gap-1);
    margin-bottom: 2%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    background-color: rgba(255, 255, 255, 0.11);

}

.dash-alert-lista-coluna-ram {
    width: 50%;
    height: 80%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--gap-1);
    margin-bottom: 2%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    background-color: rgba(255, 255, 255, 0.11);
}



.dash-alert-coluna-1-use {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-1);

}
.dash-alert-grafic-box-pai {

    width: 100%;
    height: 80%;
    display: flex;
    margin-bottom: 1%;
    flex-direction: column;
    border-radius: 30px;
}

.dash-alert-grafic-box1 {
    width: 90%;
    height: 105%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-left: 5%;
    padding: var(--gap-1);
    margin-bottom: 2%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
}
.dash-alert-grafic-box2 {
    width: 90%;
    height: 105%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
    padding: var(--gap-1);
    margin-bottom: 2%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
}

.dash-titulo-gauge1{
    width: 90%;
    /* background: #aa09ca; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 5%;
    & h3 {
        margin-top: 10px;
    }
}
.dash-titulo-gauge2{
    width: 90%;
    /* background: #aa09ca; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 5.4%;
    & h3 {
        margin-top: 10px;
    }
}



/* .dash-alert-grafic-box2 {
    width: 90%;
    height: 105%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 5%;
    padding: var(--gap-1);
    margin-bottom: 2%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
} */


.dash-alert-coluna-2-use {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    margin-top: 1.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-1);
}

.dash-alert-coluna-2-heat {
    width: 90%;
    height: 50%;
    /* margin-top: 6.65%; */
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 23px;
    border: 3px solid #794ED4;
    /* background: rgba(255, 255, 255, 0.00); */
    /* box-shadow: 0px 0px 82.7px -41px #794ED4; */
}

.dash-use-mapa-heat{
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
}

.dash-alert-coluna-2-grafic {
    width: 90%;
    height: 50%;
    padding: 4%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    border-radius: 39px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
}

.area-grafic {
    width: 100%;
    height: 70%;
    /* background-color: #794ED4; */

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}