#page-dashboard-analista {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: 3%;
    overflow-y: auto;

    & header {
        min-width: 100px;
        width: 9%;
        height: calc(100vh - 12.7%);
        position: fixed;
    }

    & main {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;
    }
}

.coluna1-dash-analista {
    width: 65%;
    height: 100%;
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dash-analista-graphic {
    width: 100%;
    height: 60%;
    padding-left: 3%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);

    & h3 {
        margin-bottom: 1%;
    }
}

.title-graphic {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.select-componente {
    height: 85%;

    border: none;
    background: none;
    color: var(--darked-purple);

    font-size: 30px;
    text-align: center;
}

.graphic-space-analista {
    background-color: yellow;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coluna1-cards-row {
    width: 100%;
    height: 35%;
    /* background-color: yellow; */

    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

}

.div-perda-pacotes {
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 50px;
    background: #794ED4;
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(2px);
}

.div-servico-utilizado {
    width: 37%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(2px);
}

.coluna2-dash-analista {
    width: 33%;
    height: 100%;
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-componente-problematico {
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(2px);
}

.div-mapa-estabilidade {
    width: 100%;
    height: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(2px);
}