#page-dashboard-adm {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: 3%;
    overflow-y: auto;

    & header {
        min-width: 100px;
        width: 9%;
        height: calc(100vh - 12.7%);
        position: fixed;
    }
    
    & main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;
    }
}

.titulo-usuario-dash{
    position: absolute;
    top: -30px;
    left: -80px;

    color: rgba(121, 78, 212, 0.28);

    font-size: 100px;
    font-weight: 600;

}

.navbar-logo-dash-adm{
    display: flex;
    height: 7%;
    & img {
        height: 100%;
    }
}

.child-navbar-card-dash-adm {
    max-width: 120px;
    width: 100%;
    height: 100%;
    padding: var(--gap-4) 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(251, 251, 251, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(10px); /* Adicione esta linha */
    -webkit-backdrop-filter: blur(10px); /* Adicione esta linha para compatibilidade com WebKit */
}

.navbar-navlink-dash-adm {
    height: 45%;
}

.list-navlink-dash-adm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-navlink-dash-adm li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-dash-adm {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link-dash-adm img {
    width: 35px;
    margin-left: 2px;
    color: white;
}

.active {
    background: var(--dark-purple);
}

.child-dash-adm-info {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.dash-adm-info-user{
    flex: 1;
    padding: var(--gap-3);
    min-width: 200px;
    max-width: 550px;

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);

    & .info-user{
        width: 100%;
        height: 70%;
        padding-top: var(--gap-1);

        display: flex;
        flex-direction: column;
        gap: var(--gap-2);
    }
}

.dash-adm-parameter-stability {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 200px;
    max-width: 250px;

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);
}

.dash-adm-parameter-recommendations{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
    max-width: 350px;
    padding: var(--gap-2);

    border-radius: 30px;
    background: #794ED4;
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(2px);
}

.parameter-recommendations-title{
    display: flex;
    align-items: center;
    
    & img{
        width: 35px;
    }
}

.parameter-recommendations-text{
    display: flex;
    align-items: center;
    height: 100%;
}

.dash-adm-parameter-server {
    flex: 1;
    max-width: 300px;
    padding: var(--gap-2);

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);
}

.parameter-server-cards{
    width: 100%;
    height: 75%;
    padding-top: var(--gap-1);

    display: flex;
    justify-content: space-around;
}

.server-card{
    flex: 1;
    max-width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #794ED4;
}

.child-dash-adm-parameters {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    gap: var(--gap-5);
}

@media (min-width: 1440px){
    .child-dash-adm-parameters{
        gap: var(--gap-5);
    }
}
@media (max-width: 1440px){
    .child-dash-adm-parameters{
        gap: var(--gap-4);
    }
}
@media (max-width: 1140px){
    .child-dash-adm-parameters{
        gap: var(--gap-3);
    }
}

.dash-adm-general-vision {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--gap-3);
    gap: var(--gap-3);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);
}

.general-vision-card-irregular{
    width: 100%;
    height: 100%;
    padding: var(--gap-1);
    display: flex;
}

.card-irregular{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    gap: var(--gap-1);
}

.card-rede-conect{
    flex: 1;
    padding: var(--gap-1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.general-vision-info{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

    .general-vision-line{
        width: 3px;
        height: 95%;
        border-radius: 5px;
        background: var(--normal-black);
    }
}

.general-vision-info-text{
    flex: 1;
    max-width: 250px;
}

.card-rede-conect-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    gap: var(--gap-1);

    border-radius: 10px;
    padding: var(--gap-1);
    background: var(--white-normal);
}

.dash-adm-graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);
}

.graphic-space{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}