#page-details-machine{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), #FFF;
    padding: 3%;
    overflow-y: auto;

    & header {
        min-width: 100px;
        width: 9%;
        height: calc(100vh - 12.7%);
        position: fixed;
    }

    & main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;

    }
}

.father-details-machine{
    width: 100%;
    height: 90%;
    padding: var(--gap-3);
    display: flex;
    gap: var(--gap-2);

    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(3.5999999046325684px);
}

.child-details-machine-info{
    width: 60%;
    height: 100%;

    display: flex;
    flex-direction: column;
}



.details-machine-info-card{
    padding: var(--gap-2);
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);
}

.info-card-machine-group{
    display: flex;
}

.info-card-machine{
    flex: 1;
}

.details-machine-graphic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 938px;
    padding: var(--gap-2);

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);
}

.details-machine-graphic-space{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graphic-machine{
    width: 100%;
    max-width: 900px;
    max-height: 300px;
}

.child-details-machine-volumes{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-machine-volume-list{
    width: 100%;
    height: 70%;
}

.machine-volume-list{
    width: 100%;
    height: 100%;
    padding: var(--gap-3);

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);
}

.machine-volume-list-content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.machine-volume-coluns{
    width: 100%;
    height: 100%;
    max-height: 40px;
    min-height: 40px;
    
    display: grid;
    column-gap: var(--gap-1);
    row-gap: var(--gap-2);
    grid-template-columns: 1fr 1fr 2fr 2fr 3fr;

    & .volume-coluns-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.machine-volume-rows{
    width: 100%;
    max-height: 60px;
    min-height: 60px;
    height: 100%;
    padding: var(--gap-1) 0px;
    
    display: grid;
    column-gap: var(--gap-1);
    row-gap: var(--gap-2);
    grid-template-columns: 1fr 8.5fr;

    & .volume-item-rows-lixo{
        display: flex;
        justify-content: center;
        align-items: center;

        max-height: 50px;
    }

    & .volume-item-rows-content{
        background: var(--gray-8);
        max-height: 50px;
        border-radius: 25px;

        display: grid;
        column-gap: var(--gap-1);
        row-gap: var(--gap-2);
        grid-template-columns: 1fr 2fr 2fr 3fr;

        & .volume-item-rows{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
}

.machine-active-deactivate{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.active-deactive-options{
    width: 100%;
    display: flex;
    gap: var(--gap-3);
}