#page-gerenciamento-maquina {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: 3%;
    overflow-y: auto;

    & main {
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;
        /* padding-top: 5%; */

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background: #794ED4; */
       & h3 {
        margin-right: 2%;
        text-align: center;
        padding-bottom: 3px;
       }
    }
}


.father-maquina-card {
    width: 100%;
    height: 7%;
    padding: 10px;
    gap: 10px;
    z-index: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
}

.child-maquina-card {
    width: 12%;
    height: 100%;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    box-shadow: 0px 0px 82.7px -41px #794ED4;
}

.father-maquina-lista {
    width: 95%;
    height: 80%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(3.5999999046325684px);
}

.child-maquina-colunas {
    width: 95%;
    height: 8%;
    gap: 2px;

    display: flex;
    flex-direction: row;

    /* background-color: red; */

    & p {
        font-size: 20px;
    }

    & a {
        height: 100%;
        width: 5%;
    }
}

.child-maquina-elemento-father-colunas {
    width: 90%;
    height: 100%;
    gap: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: violet; */
    /* border-radius: 50px; */

    & div {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        /* background-color: beige; */
    }

}

.child-maquina-elemento-coluna-area-id {
    width: 6%;
}

.child-maquina-elemento-coluna-area-nome {
    width: 15%;
}

.child-maquina-elemento-coluna-area-apelido {
    width: 15%;
}

.child-maquina-elemento-coluna-area-cpu {
    width: 23%;
}

.child-maquina-elemento-coluna-area-ram {
    width: 10%;
}

.child-maquina-elemento-coluna-area-armazenamento {
    width: 17%;
}

.child-maquina-elemento-coluna-area-acao{
    width: 4%;
}

/* configs da lista  */
.child-maquina-father-elemento {
    width: 95%;
    height: 80%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    /* background-color: #794ED4; */
}

.child-maquina-elemento {
    width: 100%;
    height: 12%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* background-color: greenyellow; */

    & a {
        height: 100%;
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 80%;
            height: 80%;
        }
    }
}

.child-maquina-elemento-infos {
    width: 90%;
    height: 100%;
    gap: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50px;

    & div {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        /* background-color: beige; */
    }
}

.child-maquina-elemento-info-area-id {
    width: 6%;
}

.child-maquina-elemento-info-area-nome {
    width: 15%;
}

.child-maquina-elemento-info-area-apelido {
    width: 15%;
}

.child-maquina-elemento-info-area-cpu {
    width: 23%;
}

.child-maquina-elemento-info-area-ram {
    width: 10%;
}

.child-maquina-elemento-info-area-armazenamento {
    width: 17%;
}

.child-maquina-elemento-info-area-acao{
    width: 4%;
    color: var(--dark-purple);
}

.father-maquina-botao {
    width: 95%;
    height: 12%;
    padding: 10px;
    padding-left: 2%;
    gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* background-color: yellow; */
}

.father-campos-column{
    display: flex;

    width: 100%;
    height: 100%;
    gap: var(--gap-5);
}

.child-campos-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.father-campo-input{
    display: flex;
    align-items: end;
    /* background: red; */
    width: 100%;
}

.bin-width-little{
    width: 4.7%;
}

.bin-width-normal{
    width: 10%;
}

.child-icon-bin {
    
    max-height: 44px;
    height: 100%;
    /* background: blue; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.child-icon-bin button {
    position: relative;
    width: 22px;
    height: 24px;
    border: none;
    cursor: pointer;
    background: none;
}

.child-icon-bin button::before,
.child-icon-bin button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: opacity 0.3s ease-in-out;
}

.child-icon-bin button::before {
    background: url(../../../assets/svg/icon-bin.svg) no-repeat center center;
    opacity: 1;
}

.child-icon-bin button::after {
    background: url(../../../assets/svg/icon-bin-red.svg) no-repeat center center;
    opacity: 0;
}

.child-icon-bin button:hover::before {
    opacity: 0;
}

.child-icon-bin button:hover::after {
    opacity: 1;
}