#page-gerenciamento-funcionario {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: 3%;
    overflow-y: auto;

    & header {
        min-width: 100px;
        width: 9%;
        height: calc(100vh - 12.7%);
        position: fixed;
    }

    & main {
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        /* background: #794ED4; */
    }
}

.father-funcionario-card {
    width: 95%;
    height: 10%;
    padding: 10px;
    gap: 10px;
    z-index: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.child-funcionario-card {
    width: 12%;
    height: 100%;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    box-shadow: 0px 0px 82.7px -41px #794ED4;
}

.father-funcionario-lista {
    width: 95%;
    height: 80%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(3.5999999046325684px);
}

.child-funcionario-colunas {
    width: 95%;
    height: 8%;
    gap: 2px;

    display: flex;
    flex-direction: row;

    /* background-color: red; */

    & p {
        font-size: 20px;
    }

    & a {
        height: 100%;
        width: 5%;
    }
}

.child-funcionario-elemento-father-colunas {
    width: 90%;
    height: 100%;
    gap: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: violet; */
    /* border-radius: 50px; */

    & div {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        /* background-color: beige; */
    }

}

.child-funcionario-elemento-coluna-area-id {
    width: 10%;
}

.child-funcionario-elemento-coluna-area-nome {
    width: 25%;
}

.child-funcionario-elemento-coluna-area-email {
    width: 30%;
}

.child-funcionario-elemento-coluna-area-cargo {
    width: 15%;
}

.child-funcionario-elemento-coluna-area-acao {
    width: 10%;
}

/* configs da lista  */
.child-funcionario-father-elemento {
    width: 95%;
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    /* background-color: aqua; */
}

.child-funcionario-elemento {
    width: 100%;
    height: 12%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* background-color: greenyellow; */

    & a {
        height: 100%;
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 80%;
            height: 80%;
        }
    }
}

.child-funcionario-elemento-infos {
    width: 90%;
    height: 100%;
    gap: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50px;

    & div {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        /* background-color: beige; */
    }
}

.child-funcionario-elemento-info-area-id {
    width: 10%;
}

.child-funcionario-elemento-info-area-nome {
    width: 25%;
}

.child-funcionario-elemento-info-area-email {
    width: 30%;
}

.child-funcionario-elemento-info-area-cargo {
    width: 15%;
}

.child-funcionario-elemento-info-area-acao {
    width: 10%;
    color: var(--darked-purple);
}

.child-funcionario-elemento-info-area-acao:hover {
    cursor: pointer;
}

.father-funcionario-botao {
    width: 95%;
    height: 12%;
    padding: 10px;
    padding-left: 2%;
    gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* background-color: yellow; */
}

/* BOTOES CADASTRAR + FILTRO */
.botao-cadastrar-funcionario {
    min-width: 13%;
    height: 70%;
    color: white;
    font-size: 20px;
    font-style: inherit;

    background-color: var(--darked-purple);
    border: none;
    border-radius: 50px;

    transition: 400ms;
}

.botao-cadastrar-funcionario:hover {
    height: 80%;
    cursor: pointer;
    color: var(--darked-purple);
    background-color: #FFF;
}

.select-filtro-funcionario {
    min-width: 10.4%;
    height: 70%;
    padding: 5px;

    color: black;
    font-size: 20px;
    font-style: inherit;

    border: none;
    border-radius: 50px;
    text-align: center;
    text-justify: center;
    transition: 200ms;
}

.select-filtro-funcionario:hover {
    height: 80%;
    cursor: pointer;
}


/* POPUP CADASTRAR FUNCIONARIO  */

.sessao-popup-cadastrar-funcionario {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(1.25px);
}

.father-cadastrar-funcionario {
    width: 35%;
    height: 80%;
    /* position: absolute; */
    padding-left: 4%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    border-radius: 20px;
    border: 2px solid var(--Grays-White, #FFF);
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(5.5px);
}

.titulo-cadastrar-funcionario-campos {
    padding-bottom: 10px;
}

.child-cadastrar-funcionario-campos {
    width: 85%;
    height: 60%;
    padding: 20px;
    gap: var(--gap-2);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    /* background-color: aquamarine; */
}

.select-cargo {
    min-width: 40%;
    height: 12%;
    border: 2px;
    font-size: 22px;
    color: var(--normal-grey);
    border-bottom: 3px solid rgb(95, 95, 95);
    background: none;
}

.child-cadastrar-funcionario-input {
    width: 70%;
    height: 15%;
    /* padding-top: 3%; */

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    /* background-color: chocolate; */
    border-bottom: 3px solid rgb(95, 95, 95);
}

.icone-input {
    width: 8%;
    height: 100%;

    /* background-color: blue; */
    & img {
        width: 100%;
        height: 100%;
    }
}

.input-cadastrar-funcionario {
    all: unset;
    /* Reseta a maioria dos estilos nativos */
    box-sizing: border-box;
    /* Mantém o modelo de caixa consistente */
    appearance: none;
    /* Remove estilos de elementos de formulário */
    -webkit-appearance: none;
    /* Remove estilos no Safari/Chrome */
    -moz-appearance: none;
    /* Remove estilos no Firefox */

    width: 90%;
    height: 100%;
    border: none;
    padding-left: 5px;
    padding-bottom: 0px;
    font-size: 22px;
    background: none;
}

.father-cadastrar-botao{
    width: 95%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
}

.botao-cadastrar-executar-funcionario{
    min-width: 23%;
    height: 70%;
    color: white;
    font-size: 20px;
    font-style: inherit;

    background-color: var(--darked-purple);
    border: none;
    border-radius: 50px;

    transition: 200ms;
}
.botao-cadastrar-executar-funcionario:hover {
    height: 80%;
    cursor: pointer;
    color: var(--darked-purple);
    background-color: #FFF;
} 

.botao-cadastrar-cancelar-funcionario{
    height: 70%;
    font-size: 20px;
    padding-left: 15px;
    color: var(--darked-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-cadastrar-cancelar-funcionario:hover {
    cursor: pointer;
} 