#page-gerenciamento-funcionario {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: 3%;
    overflow-y: auto;

    & main {
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        /* background: #794ED4; */
        & h3 {
            margin-right: 2%;
            text-align: center;
            padding-bottom: 3px;
           }
    }
}

.father-funcionario-card {
    width: 95%;
    height: 7%;
    padding: 10px;
    gap: 10px;
    z-index: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.child-funcionario-card {
    width: 12%;
    height: 100%;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    box-shadow: 0px 0px 82.7px -41px #794ED4;
}

.father-funcionario-lista {
    width: 95%;
    height: 80%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
    backdrop-filter: blur(3.5999999046325684px);
}

.child-funcionario-colunas {
    width: 95%;
    height: 8%;
    gap: 2px;

    display: flex;
    flex-direction: row;

    /* background-color: red; */

    & p {
        font-size: 20px;
    }

    & a {
        height: 100%;
        width: 5%;
    }
}

.child-funcionario-elemento-father-colunas {
    width: 90%;
    height: 100%;
    gap: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* background-color: violet; */
    /* border-radius: 50px; */

    & div {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        /* background-color: beige; */
    }

}

.child-funcionario-elemento-coluna-area-id {
    width: 10%;
}

.child-funcionario-elemento-coluna-area-nome {
    width: 25%;
}

.child-funcionario-elemento-coluna-area-email {
    width: 30%;
}

.child-funcionario-elemento-coluna-area-cargo {
    width: 15%;
}

.child-funcionario-elemento-coluna-area-acao {
    width: 10%;
}

/* configs da lista  */
.child-funcionario-father-elemento {
    width: 95%;
    height: 80%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    /* background-color: aqua; */
}

.child-funcionario-elemento {
    width: 100%;
    height: 12%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* background-color: greenyellow; */

    & a {
        height: 100%;
        width: 5%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            width: 80%;
            height: 80%;
        }
    }
}

.child-funcionario-elemento-infos {
    width: 90%;
    height: 100%;
    gap: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50px;

    & div {
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        /* background-color: beige; */
    }
}

.child-funcionario-elemento-info-area-id {
    width: 10%;
}

.child-funcionario-elemento-info-area-nome {
    width: 25%;
}

.child-funcionario-elemento-info-area-email {
    width: 30%;
}

.child-funcionario-elemento-info-area-cargo {
    width: 15%;
}

.child-funcionario-elemento-info-area-acao {
    width: 10%;
    color: var(--dark-purple);
}

.child-funcionario-elemento-info-area-acao:hover {
    cursor: pointer;
}

.botao-acao{
    border: none;
    background-color: #FFF;
    background: none;
    color: var(--dark-purple);
    cursor: pointer;
    padding: 5px 10px;
    /* transition: 400ms; */
}


.father-funcionario-botao {
    width: 95%;
    height: 12%;
    padding: 10px;
    padding-left: 2%;
    gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    /* background-color: yellow; */
}

/* BOTOES CADASTRAR + FILTRO */
.botao-cadastrar-funcionario {
    min-width: 13%;
    height: 50px;
    color: white;
    font-size: 20px;
    font-style: inherit;

    background-color: var(--dark-purple);
    border: none;
    border-radius: 50px;

    transition: 400ms;
}

.botao-cadastrar-funcionario:hover {
    height: 60px;
    cursor: pointer;
    color: var(--dark-purple);
    background-color: #FFF;
}


