:root {
  --Grays-White: #FFF;
  --dark-purple: #794ED4;
  --gap-1: 15px;
}

#page-dashboard-rede {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White);
  padding: 3% 3% 0 3%;
  overflow-y: auto;
}

#page-dashboard-rede main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: calc(100% - 90.4%);
  width: 91%;
  height: 100%;
}

#texto-ia {
  font-weight: bold;
  color: transparent;
  /* Torna o texto transparente para exibir o gradiente */
  background: linear-gradient(90deg, #794ED4, #4E7AD4);
  /* Gradiente no texto */
  background-clip: text;
  -webkit-background-clip: text;
  /* Compatibilidade com WebKit */
  text-fill-color: transparent;
  /* Necessário para Safari */
  text-shadow: 0px 0px 4px rgba(121, 78, 212, 0.6),
    0px 0px 6px rgba(78, 122, 212, 0.4);
  /* Brilho no texto */
}

#icone-ia {
  filter: drop-shadow(0px 0px 8px rgba(121, 78, 212, 0.8)) 
  drop-shadow(0px 0px 12px rgba(78, 122, 212, 0.6));
  /* Brilho com gradiente */
}

#chart {
  max-width: 100%;
}

.dash-rede-cor-anterior {
  color: #4E7AD4;
}

.dash-rede-cor-atual {
  color: var(--dark-purple);
}

.dash-rede-fonte-cards {
  font-size: 20px;
  margin-bottom: 7%;
}

.dash-rede-topo {
  width: 100%;
  height: 13%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dash-rede-subtitulo {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.dash-rede-pai-cards {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 2%;
}

.dash-rede-titulo-cards {
  font-size: 20px;
  width: 100%;
  margin: 0.2% 0 0.2% 0;
}

.dash-rede-barchart {
  width: 100%;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* padding: var(--gap-2); */
  box-sizing: border-box;
  box-shadow: 0px 0px 82.7px -41px var(--dark-purple);

  border-radius: 20px;
  background-color: #FFF;
  margin-bottom: 20px;
}

.barplot {
  /* height: 250px; */
  max-height: 200px;
  width: 100%;
  margin-top: 10px;
}

.dash-rede-barchart-space {
  width: 90%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dash-rede-linRegress {
  width: 100%;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: var(--gap-2);
  box-sizing: border-box;
  box-shadow: 0px 0px 82.7px -41px var(--dark-purple);

  border-radius: 20px;
  background-color: #FFF;
  margin-bottom: 20px;
}

.linRegress {
  max-height: 90%;
  width: 100%;
  margin-top: 10px;
}

.dash-rede-linRegress-space {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dash-rede-cards-topo {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 100px;
  max-width: 250px;

  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: #FFFFFF;
  box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
  backdrop-filter: blur(2px);
}

.dash-rede-card-analise {
  background-color: #FFF;
  width: 90%;
  height: 500px;
  max-height: 100%;
  flex: 1;
  padding: var(--gap-2);

  display: flex;
  flex-direction: row;

  position: relative;

  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: #FFFFFF;
  box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
  backdrop-filter: blur(2px);
}

.dash-rede-dentro-analise {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-rede-dentro-divisao {
  border-left: 1px solid black;
  width: 1px;
  height: 95%;
}

.dash-rede-dentro-historico {
  height: 100%;
  width: 60%;
}

.dash-rede-dentro-historico-topo {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dash-rede-dentro-historico-baixo {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dash-rede-itens-historico {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.dash-rede-dentro-scroll {
  overflow: scroll;
  text-align: justify;

  padding: 1%;
  margin-right: 3%;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--dark-purple);
    border-radius: 4px;
  }

}

.child-informacoes-macro {
  width: 100%;
  height: 60%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.child-informacoes-macro h4 {
  padding-left: 15px;
  width: 50%;
}

.dados-semana {
  width: 95%;
  height: 100%;
  padding: 10px;
  gap: var(--gap-1);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  border-radius: 23px;
  border: 2px solid var(--dark-purple);
}

.dash-rede-pai {
  width: 100%;
  height: 87%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
}

.dash-rede-coluna-1 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dash-rede-lista-pai {
  width: 90%;
  height: 100%;
  padding: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
}

.dash-rede-lista-colunas {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4%;
  margin-bottom: 2%;
}

.dash-rede-lista-scroll {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: auto;
  /* Adiciona scroll vertical */
  overflow-x: hidden;
  /* Esconde scroll horizontal */

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--dark-purple);
    border-radius: 4px;
  }
}

.dash-rede-lista-caixa {
  width: 100%;
  height: 100%;
}

.dash-rede-lista-objeto {
  width: 100%;
  height: 25%;
  padding: 1%, 2%;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 4%;
  margin-bottom: 2%;
}

.dash-rede-campo-barra {
  width: 90%;
  height: 9%;
  background-color: #FFFFFF;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}

.dash-rede-campo-barra h5 {
  width: 33.33%;
  text-align: center;
}

.dash-rede-coluna-2 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dash-rede-coluna-2-dados {
  width: 90%;
  height: 20%;
  margin-top: 6.65%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 23px;
  border: 3px solid var(--dark-purple);
}

.dados-metade {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.dados-parte-meio {
  width: 0.5%;
  height: 100%;
  background-color: var(--dark-purple);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dash-rede-coluna-2-area-grafico {
  width: 90%;
  height: fit-content;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: var(--Grays-White);
  box-shadow: 0px 0px 82.7px -41px var(--dark-purple);

  margin-bottom: 20px;
}

.area-grafico-rede {
  width: 90%;
  height: 300px;
  /* background-color: var(--dark-purple); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}