#page-cadastro {
    background: var(--light-black);
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.father-cadastro {
    max-width: 1250px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.child-card-form-cadastro {
    max-width: 500px;
    width: 100%;
    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
}

.card-form-cadastro {
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;

    display: flex;
    flex-direction: column;
    gap: var(--gap-2);

    & form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--gap-2);
    }
}

.logo-cadastro {
    display: flex;
    gap: var(--gap-2);
}

.child-card-image-cadastro {
    max-width: 750px;
    width: 100%;
    height: 100%;
    padding: 20px;

    & figure {
        width: 100%;
        height: 100%;
        border-radius: 13px;
        background: url(../../../assets/img/download.png) no-repeat center;
        background-size: cover;
        padding: 45px;
        border: 1px solid var(--gray-0);

        & p{
            width: 80%;
        }
    }
}

.form-card-line-border {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    
}

/* ESPONSIVIDADE DAS TELAS */
@media (min-width: 960px){
    
}

@media (max-width: 960px) {
    .form-card-line-border{
        padding: 40px;
        border-radius: 10px;
        background: var(--extra-light-black);
        border: 1px solid var(--gray-0);
    }
    .child-card-image-cadastro {
        display: none;
    }

    .child-card-form-cadastro {
        max-width: 600px;
    }
    .logo-cadastro {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 540px) {
    .child-card-form-cadastro{
        padding: 0;
    }
    .logo-cadastro{
        margin-top: var(--gap-2);
    }
}