#sessao-inicial{
    width: 100vw;
    height: 110vh;
    background: url(../../../assets/svg/background-stars.svg) no-repeat center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 9vh;
    position: relative;
}

/* --- TIRANDO O SCROLL DO TITULO HOME --- */
/* .titulo-inicial{
    overflow: hidden;       
} */

.pai-inicial{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.textosInicial{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    padding-left: 8%;
}  

#img-bolhas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-bolhas{
    width: 100%;
}

.btn-welcome-space{
    min-width: 300px;
    max-width: 300px;
    display: flex;

    & .btn-website-servguard{
        width: 100%;
    }
}

@media(max-width:960px){
    .pai-inicial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img-bolhas{
        display: none;
    }
    .img-bolhas{
        display: none;
    }

    .botao-conheca{
        border-radius: 10px;
        height: 50px;
        width: 120px;
        text-align: center;
    }

}

@media(max-width:540px){
    .pai-inicial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img-bolhas{
        display: none;
    }
    .img-bolhas{
        display: none;
    }

    .botao-conheca{
        border-radius: 10px;
        height: 50px;
        width: 120px;
        text-align: center;
        padding-top: 2px;
    }
}

@media(max-width:375px){
    .pai-inicial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img-bolhas{
        display: none;
    }
    .img-bolhas{
        display: none;
    }

    .botao-conheca{
        border-radius: 10px;
        height: 50px;
        width: 120px;
        text-align: center;
        padding-top: 2px;
    }

}