:root{    
    --darkness-purple: #0f001a;
    --dark-purple: #4E2E9E;
    --dark-purple: #6D4BC7;
    --normal-purple: #9870FF;

    /* Neutral-colors */
    --darkness-black: #0c0c0c;
    --dark-black: #161617;
    --normal-black: #1c1c1c;
    --light-black: #141414;

    --white-normal: #f7f2fa;
    --white-dark: #edeaef;
    --white-light: #fefbff;

    /* Gray Scale */
    --gray-0: #2e2e2e;
    --gray-1: #454446;
    --gray-2: #555456;
    --gray-3: #666566;
    --gray-4: #767576;
    --gray-5: #868587;
    --gray-6: #969597;
    --gray-7: #a6a6a7;
    --gray-8: #dfdfdf;

    /* Auxiliary colors */
    --red-normal: #eb3d3d;
    --red-dark: #d03333;
    --red-light: #f05454;

    --green-normal: #32d957;
    --green-dark: #28bb49;
    --green-light: #50e170;

    --yellow-normal: #ffce52;
    --yellow-dark: #d9b043;
    --yellow-light: #ffd76b;

     --orange-normal: #ff9100;
     --orange-dark: #cc8400;
     --orange-light: #ffb733;
}