footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 27vh;
    background: #09000F;
    border-top: 1px solid #410F70;
}

.conteudo-footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: #09000F;
    justify-content: space-between;
    align-items: center;
}

.logo-format {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.barra-footer {
    background: #fff;
    width: 0.1vw;
    height: 47px;
    color: #fff;
}

.links {
    width: 20%;
    margin-right: -15%;
}

.img-email {
    width: 7%;
}

.img-git {
    width: 7%;
}

.img-whats {
    width: 7%;
}

.direitos {
    justify-content: center;
    align-items: center;
    background-color: #09000F;
    height: 30%;
    display: flex;
}

.div-integrantes {
    height: 100%;
    width: 20%;
    padding: 1%;
}

.p-integrantes {
    font-weight: 100;
}

/*Responsividade da seção footer*/

/*Largura máxima da tela = 375*/

@media (max-width: 375px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 26vh;
        background: #09000F;
        border-top: 1px solid #410F70;
    }

    .conteudo-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-footer {
        display: none;
    }

    .logo-format {
        display: none;
    }

    .barra-footer {
        display: none;
    }

    .img-email {
        width: 10%;
        height: 10%;
    }

    .img-git {
        width: 1px;
    }

    .img-whats {
        width: 12%;
        height: 12%;
    }

    .div-integrantes {
        display: none;
    }

    .links {
        width: 100%;
        display: flex;
        margin-right: -20%;
        align-items: center;
        justify-content: center;
    }

    .img-icones {
        width: 90%;
        height: 30%;
    }

}

/*Responsividade do footer*/


/*Largura máxima da tela = 540*/

@media (max-width: 540px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 26vh;
        background: #09000F;
        border-top: 1px solid #410F70;
    }

    .conteudo-footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-footer {
        display: none;
    }

    .logo-format {
        display: none;
    }

    .barra-footer {
        display: none;
    }

    .img-email {
        width: 10%;
        height: 10%;
    }

    .img-git {
        width: 1px;
    }

    .img-whats {
        width: 12%;
        height: 12%;
    }

    .div-integrantes {
        display: none;
    }

    .links {
        width: 100%;
        display: flex;
        margin-right: -20%;
        align-items: center;
        justify-content: center;
    }

    .img-icones {
        width: 90%;
        height: 30%;
    }
}

/*Largura máxima da tela = 960*/

@media (max-width: 960px) {
    footer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 34vh;
        background: #09000F;
        border-top: 1px solid #410F70;
        overflow-y: hidden;
    }

    .conteudo-footer {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow-y: hidden;
    }

    .logo-format {
        width: 20%;
        justify-content: space-around;
    }

    .img-email {
        width: 20%;
    }

    .img-git {
        width: 20%;
    }

    .img-whats {
        width: 20%;
    }

    .div-integrantes {
        height: 100%;
        width: 20%;
        padding: 1%;
    }
}

/*Largura máxima da tela = 1140*/

@media (max-width: 1140px) {

    .conteudo-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .logo-format {
        width: 20%;
        justify-content: space-around;
    }

    .img-email {
        width: 20%;
    }

    .img-git {
        width: 20%;
    }

    .img-whats {
        width: 20%;
    }

    .div-integrantes {
        margin-top: 5%;
    }
}

/*Largura mínima da tela = 1140*/

@media (min-width: 1140px) {

    .conteudo-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .logo-format {
        width: 15%;
        justify-content: space-around;
    }

    .img-email {
        width: 10%;
    }

    .img-git {
        width: 10%;
    }

    .img-whats {
        width: 10%;
    }

    .div-integrantes {
        overflow-y: hidden;
    }
}