#sessao-planos {
    width: 100vw;
    height: 110vh;
    background-color: #09000F;
    overflow-y: hidden;
}

.div-titulo-planos {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.titulo-planos {
    background: linear-gradient(90deg, #FFF 17.42%, #330063 60.64%, #330063 10.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pai-planos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.circuitoD-planos {
    width: 15%;
    margin-top: -20%;
}

.plano-basico {
    width: 25%;
    height: 60%;
    background-color: #09000fab;
    border-radius: 10px;
    border: 1px solid #7C1DD6;
    margin-left: -10%;
    z-index: 1;
    margin-bottom: 3%;
    transition: transform 600ms ease, background-color 600ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 19px;
}

.p-descricao-basico {
    font-weight: 100;
}

.lista-monitoramento {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
}

.icone-internet {
    width: 10%;
}

.icone-cpu {
    width: 10%;
}

.li-monitoramento {
    font-weight: 300;
    font-size: 15px;
}

.beneficio-plano1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.beneficio-plano2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10%;
}

.plano-pro {
    width: 25%;
    height: 60%;
    background-color: #09000fab;
    border-radius: 10px;
    border: 1px solid #7C1DD6;
    margin-bottom: 6%;
    box-shadow: 1px 2px 20px 1px rgba(84, 11, 84, 1);
    transition: transform 600ms ease, background-color 600ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.beneficio-plano1-pro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.beneficio-plano2-pro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 5%;
}


.icone-internet-pro {
    width: 7%;
}

.icone-cpu-pro {
    width: 7%;
}

.icone-ram {
    width: 7%;
}

.icone-server {
    width: 7%;
}

.plano-intermediario {
    width: 25%;
    height: 60%;
    background-color: #09000fab;
    border-radius: 10px;
    border: 1px solid #7C1DD6;
    z-index: 1;
    margin-right: -10%;
    margin-bottom: 3%;
    transition: transform 600ms ease, background-color 600ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 19px;
}

/*Hover dos planos*/

.plano-basico:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 20px 1px rgb(235, 122, 16);
    transition: transform 600ms ease, background-color 600ms ease;
}

.plano-pro:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 20px 1px rgb(255, 218, 8);
    transition: transform 600ms ease, background-color 600ms ease;
}

.plano-intermediario:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 20px 1px rgb(158, 157, 158);
    transition: transform 600ms ease, background-color 600ms ease;
}

.circuitoE-planos {
    width: 15%;
    margin-bottom: -23%;
}

/*Responsivade da seção planos*/


/*Largura de tela máxima = 1140*/

@media (max-width: 1140px) {
    #sessao-planos {
        width: 100vw;
        height: 170vh;
        background-color: #09000F;
        display: flex;
        flex-direction: column;
    }

    .pai-planos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .div-titulo-planos {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 5%;
    }

    .plano-basico {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-left: 1%;
    }

    .plano-pro {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .plano-intermediario {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-right: 1%;
    }

    .lista-monitoramento {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    .circuitoD-planos{
        display: none;
    }
    
    .circuitoE-planos{
        display: none;
    }

      /*Removendo o Hover*/
    
      .plano-pro:hover {
        transform: scale(1);
    }

    .plano-basico:hover {
        transform: scale(1);
    }

    .plano-intermediario:hover {
        transform: scale(1);
    }
}


/*Largura de tela máxima = 960*/

@media (max-width: 960px) {
    #sessao-planos {
        width: 100vw;
        height: 170vh;
        background-color: #09000F;
        display: flex;
        flex-direction: column;
    }

    .pai-planos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .div-titulo-planos {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 5%;
    }

    .plano-basico {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-left: 1%;
    }

    .plano-pro {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .plano-intermediario {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-right: 1%;
    }

    .lista-monitoramento {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    .circuitoD-planos{
        display: none;
    }
    
    .circuitoE-planos{
        display: none;
    }

      /*Removendo o Hover*/
    
      .plano-pro:hover {
        transform: scale(1);
    }

    .plano-basico:hover {
        transform: scale(1);
    }

    .plano-intermediario:hover {
        transform: scale(1);
    }
}


/*Largura de tela máxima = 540*/

@media (max-width: 540px) {
    #sessao-planos {
        width: 100vw;
        height: 175vh;
        background-color: #09000F;
        display: flex;
        flex-direction: column;
    }

    .pai-planos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .div-titulo-planos {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 5%;
    }

    .plano-basico {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-left: 1%;
    }

    .plano-pro {
        width: 85%;
        height: 130%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .plano-intermediario {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-right: 1%;
    }

    .lista-monitoramento {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    .circuitoD-planos{
        display: none;
    }
    
    .circuitoE-planos{
        display: none;
    }

      /*Removendo o Hover*/
    
      .plano-pro:hover {
        transform: scale(1);
    }

    .plano-basico:hover {
        transform: scale(1);
    }

    .plano-intermediario:hover {
        transform: scale(1);
    }
}

/*Largura de tela máxima = 375*/

@media(max-width:375px) {
    #sessao-planos {
        width: 100vw;
        height: 170vh;
        background-color: #09000F;
        display: flex;
        flex-direction: column;
    }

    .pai-planos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .div-titulo-planos {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 5%;
    }

    .plano-basico {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-left: 1%;
    }

    .plano-pro {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .plano-intermediario {
        width: 85%;
        height: 100%;
        background-color: #09000fab;
        border-radius: 10px;
        border: 1px solid #7C1DD6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 6px;
        margin-right: 1%;
    }

    .lista-monitoramento {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        overflow-y: hidden;
    }

    .circuitoD-planos{
        display: none;
    }
    
    .circuitoE-planos{
        display: none;
    }

    /*Removendo o Hover*/
    
    .plano-pro:hover {
        transform: scale(1);
    }

    .plano-basico:hover {
        transform: scale(1);
    }

    .plano-intermediario:hover {
        transform: scale(1);
    }
}