#sessao-pilares{
    width: 100vw;
    height: 108vh;
    background: #09000F;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pai-pilar{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.div-titulo-pilar{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 12%;
}

.titulo-pilar{
    background: linear-gradient(90deg, #FFF 30.42%, #330063 60.64%, #330063 10.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.circuitoEsquerdo{
    width: 15%;
    z-index: 1;
    margin-top: -20%;
}

.quadrado{
    width: 40%;
    background-color: #0c001483;
    border: 1px solid #410F70;
    height: 80%;
    z-index: 1;
    position: relative;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -15%;
    backdrop-filter: blur(10px);
}

.img-pilares{
    width: 80%;
}

.pai-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
    margin-right: -15%;
    position: relative;
}

.filho-texto{
    border: 1px solid #410F70;
    border-radius: 10px;
    padding: 2%;
    background:#0c001483;
}

.blur-pilar{
    z-index: 3;
    width: 70%;
    position: absolute;
    left: -130px;
    top: -180px;
}

.circuitoDireito{
    width: 15%;
    z-index: 1;
    margin-bottom: -23%;
}

/*Responsividade da seção importante*/

/*Largura máxima da tela = 1140*/

@media (max-width: 1140px) {
    .pai-pilar{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .img-pilares{
        display: none;
    }

    .pai-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
        width: 50%;
        height: 90%;
        margin-left: -10%;
    }

    .blur-pilar{
       display: none;
    }

    .filho-texto{
        border: 1px solid #410F70;
        border-radius: 10px;
        padding: 1%;
        background:#0c001483;
        width: 80%;
        height: 80%;
        text-align: center;
    }

    .quadrado{
        display: none;
    }

    .circuitoDireito, .circuitoEsquerdo{
        display: none;
    }
}

@media (max-width: 960px){
    .pai-texto{
        width: 100%;
        height: 170vh;
    }

    .filho-texto{
        width: 50%;
        height: 100%;
        padding: 1%;
    }

    .blur-pilar{
        z-index: 3;
        width: 30%;
        position: absolute;
        left: 90px;
        top: -90px;
    }
}

@media(max-width:768px){
    #sessao-pilares{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 0;
        gap: 10px;
        height: 150%;
    }
    .quadrado{
        display: none;
    }
    .img-pilares{
        display: none;
    }
    .circuitoDireito{
        display: none;
    }
    .circuitoEsquerdo{
        display: none;
    }
    .pai-texto{
        margin-top: 0;
        margin-right: 0;
        height: 100%;
        background: #0c001483;
    }
    .filho-texto{
        height: 90%;
    }
    .h1-pilares{
        display: none;
    }
}

@media (max-width: 540px) {
    #sessao-pilares{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 0;
        gap: 10px;
        height: 170vh;
    }
    .quadrado{
        display: none;
    }
    .img-pilares{
        display: none;
    }
    .circuitoDireito{
        display: none;
    }
    .circuitoEsquerdo{
        display: none;
    }
    .pai-texto{
        margin-top: 0;
        margin-right: 0;
        height: 100%;
        background: #0c001483;
    }
    .filho-texto{
        height:100%;
        padding: 1%;
    }
    .h1-pilares{
        display: none;
    }
}

@media(max-width:375px){
    .filho-texto{
        width: 80%;
        height: 70%;
        padding: 2%;
    }
    .pai-pilar{
        width: 100%;
        height: 100%;
    }
}
