#sessao-importante {
    width: 100vw;
    height: 100vh;
    background-color: #09000F;
}

.div-importante1 {
    display: flex;
    justify-content: space-around;
    background-color: #09000F;
    height: 50%;
    align-items: center;
}

.div-importante2 {
    display: flex;
    justify-content: space-around;
    background-color: #09000F;
    height: 50%;
}

.textoImportante1 {
    position: relative;
    padding: 30px;
    height: 100%;
    gap: 10px;
}

.textoImportante {
    position: relative;
    padding: 30px;
    height: 100%;
    gap: 10px;
}

.textoGradienteImportante {
    background: linear-gradient(90deg, #FFF 17.42%, #330063 60.64%, #330063 10.92%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.circuitoE {
    left: 0;
    width: 15%;
}

.circuitoD {
    right: 0;
    width: 15%;
}

.luaE {
    width: 20%;
}

.luaD {
    width: 20%;
}

.blurImportante {
    width: 20%;
    position: absolute;
    top: 15px;
    left: 15px;
}

.textoVisao {
    font-weight: 100;
}

/*Responsividade da seção importante*/

/*Largura máxima da tela = 375*/

@media(max-width:375px) {
    #sessao-importante {
        height: 90%;
    }

    .div-importante1 {
        height: 60%;
    }

    .div-importante2 {
        height: 60%;
    }

    .circuitoE {
        display: none;
    }

    .circuitoD {
        display: none;

    }

    .luaE {
        display: none;
    }

    .luaD {
        display: none;
    }

    .textoImportante {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .textoImportante1 {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .blurImportante {
        width: 20%;
        position: absolute;
        top: 30px;
        left: 13px;
    }
}

/*Largura máxima da tela = 740*/

@media(max-width:768px) {
    #sessao-importante {
        height: 90%;
    }

    .div-importante1 {
        height: 60%;
    }

    .div-importante2 {
        height: 60%;
    }

    .circuitoE {
        display: none;
    }

    .circuitoD {
        display: none;

    }

    .luaE {
        display: none;
    }

    .luaD {
        display: none;
    }

    .textoImportante {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .textoImportante1 {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .blurImportante {
        width: 20%;
        position: absolute;
        top: 30px;
        left: 13px;
    }
}
