/*  */
:root{
    --gap-1: 8px;
    --gap-2: 16px;
    --gap-3: 32px;
    --gap-4: 48px;
    --gap-5: 72px;
    --gap-6: 128px;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: var(--gap-1);
}
.m-2 {
  margin: var(--gap-2);
}
.m-3 {
  margin: var(--gap-3);
}
.m-4 {
  margin: var(--gap-4);
}
.m-5 {
  margin: var(--gap-5);
}
.m-6{
  margin: var(--gap-6);
}

.mt-1 {
  margin-top: var(--gap-1);
}
.mt-2 {
  margin-top: var(--gap-2);
}
.mt-3 {
  margin-top: var(--gap-3);
}
.mt-4 {
  margin-top: var(--gap-4);
}
.mt-5 {
  margin-top: var(--gap-5);
}
.mt-6 {
  margin-top: var(--gap-6);
}

.ml-1 {
  margin-left: var(--gap-1);
}
.ml-2 {
  margin-left: var(--gap-2);
}
.ml-3 {
  margin-left: var(--gap-3);
}
.ml-4 {
  margin-left: var(--gap-4);
}
.ml-5 {
  margin-left: var(--gap-5);
}
.ml-6 {
  margin-left: var(--gap-6);
}

.mr-1 {
  margin-right: var(--gap-1);
}
.mr-2 {
  margin-right: var(--gap-2);
}
.mr-3 {
  margin-right: var(--gap-3);
}
.mr-4 {
  margin-right: var(--gap-4);
}
.mr-5 {
  margin-right: var(--gap-5);
}
.mr-6 {
  margin-right: var(--gap-6);
}

.mb-1 {
  margin-bottom: var(--gap-1);
}
.mb-2 {
  margin-bottom: var(--gap-2);
}
.mb-3 {
  margin-bottom: var(--gap-3);
}
.mb-4 {
  margin-bottom: var(--gap-4);
}
.mb-5 {
  margin-bottom: var(--gap-5);
}
.mb-6 {
  margin-bottom: var(--gap-6);
}

.mx-1 {
  margin-left: var(--gap-1);
  margin-right: var(--gap-1);
}
.mx-2 {
  margin-left: var(--gap-2);
  margin-right: var(--gap-2);
}
.mx-3 {
  margin-left: var(--gap-3);
  margin-right: var(--gap-3);
}
.mx-4 {
  margin-left: var(--gap-4);
  margin-right: var(--gap-4);
}
.mx-5 {
  margin-left: var(--gap-5);
  margin-right: var(--gap-5);
}
.mx-6 {
  margin-left: var(--gap-6);
  margin-right: var(--gap-6);
}

.my-1 {
  margin-top: var(--gap-1);
  margin-bottom: var(--gap-1);
}
.my-2 {
  margin-top: var(--gap-2);
  margin-bottom: var(--gap-2);
}
.my-3 {
  margin-top: var(--gap-3);
  margin-bottom: var(--gap-3);
}
.my-4 {
  margin-top: var(--gap-4);
  margin-bottom: var(--gap-4);
}
.my-5 {
  margin-top: var(--gap-5);
  margin-bottom: var(--gap-5);
}

.my-6 {
  margin-top: var(--gap-6);
  margin-bottom: var(--gap-6);
}

.p-1 {
  padding: var(--gap-1);
}
.p-2 {
  padding: var(--gap-2);
}
.p-3 {
  padding: var(--gap-3);
}
.p-4 {
  padding: var(--gap-4);
}
.p-5 {
  padding: var(--gap-5);
}
.p-6 {
  padding: var(--gap-6);
}

.pt-1 {
  padding-top: var(--gap-1);
}
.pt-2 {
  padding-top: var(--gap-2);
}
.pt-3 {
  padding-top: var(--gap-3);
}
.pt-4 {
  padding-top: var(--gap-4);
}
.pt-5 {
  padding-top: var(--gap-5);
}
.pt-6 {
  padding-top: var(--gap-6);
}

.pl-1 {
  padding-left: var(--gap-1);
}
.pl-2 {
  padding-left: var(--gap-2);
}
.pl-3 {
  padding-left: var(--gap-3);
}
.pl-4 {
  padding-left: var(--gap-4);
}
.pl-5 {
  padding-left: var(--gap-5);
}
.pl-6 {
  padding-left: var(--gap-6);
}

.pr-1 {
  padding-right: var(--gap-1);
}
.pr-2 {
  padding-right: var(--gap-2);
}
.pr-3 {
  padding-right: var(--gap-3);
}
.pr-4 {
  padding-right: var(--gap-4);
}
.pr-5 {
  padding-right: var(--gap-5);
}
.pr-6 {
  padding-right: var(--gap-6);
}

.pb-1 {
  padding-bottom: var(--gap-1);
}
.pb-2 {
  padding-bottom: var(--gap-2);
}
.pb-3 {
  padding-bottom: var(--gap-3);
}
.pb-4 {
  padding-bottom: var(--gap-4);
}
.pb-5 {
  padding-bottom: var(--gap-5);
}
.pb-6 {
  padding-bottom: var(--gap-6);
}

.px-1 {
  padding-left: var(--gap-1);
  padding-right: var(--gap-1);
}
.px-2 {
  padding-left: var(--gap-2);
  padding-right: var(--gap-2);
}
.px-3 {
  padding-left: var(--gap-3);
  padding-right: var(--gap-3);
}
.px-4 {
  padding-left: var(--gap-4);
  padding-right: var(--gap-4);
}
.px-5 {
  padding-left: var(--gap-5);
  padding-right: var(--gap-5);
}
.px-6 {
  padding-left: var(--gap-6);
  padding-right: var(--gap-6);
}

.py-1 {
  padding-top: var(--gap-1);
  padding-bottom: var(--gap-1);
}
.py-2 {
  padding-top: var(--gap-2);
  padding-bottom: var(--gap-2);
}
.py-3 {
  padding-top: var(--gap-3);
  padding-bottom: var(--gap-3);
}
.py-4 {
  padding-top: var(--gap-4);
  padding-bottom: var(--gap-4);
}
.py-5 {
  padding-top: var(--gap-5);
  padding-bottom: var(--gap-5);
}
.py-6 {
  padding-top: var(--gap-6);
  padding-bottom: var(--gap-6);
}