/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*,
*:after,
*:before {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
}

@media (min-width: 1440px) {
    h1 {
        font-size: 64px;
        line-height: 100%;
        font-weight: 300;
    }

    h2 {
        font-size: 52px;
        line-height: 100%;
        font-weight: 300;
    }

    h3 {
        font-size: 36px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 24px;
        line-height: 130%;
        font-weight: 400;
    }

    h5 {
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
    }

    p, a{
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;        
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 56px;
        line-height: 100%;
        font-weight: 300; 
    }

    h2 {
        font-size: 48px;
        line-height: 100%;
        font-weight: 300;
    }

    h3 {
        font-size: 32px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 20px;
        line-height: 130%;
        font-weight: 350;
    }

    h5 {
        font-size: 16px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a{
        font-size: 16px;
        font-weight: 350;
        text-decoration: none;        
    }
}

@media (max-width: 1140px) {
    h1 {
        font-size: 48px;
        line-height: 100%;
        font-weight: 300;
    }

    h2 {
        font-size: 40px;
        line-height: 100%;
        font-weight: 300;
    }

    h3 {
        font-size: 28px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 20px;
        line-height: 130%;
        font-weight: 500;
    }

    h5 {
        font-size: 16px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a{
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
    }
}

@media (max-width: 960px) {
    h1 {
        font-size: 40px;
        line-height: 100%;
        font-weight: 300;
    }

    h2 {
        font-size: 42px;
        line-height: 100%;
        font-weight: 300;
    }

    h3 {
        font-size: 24px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 18px;
        line-height: 130%;
        font-weight: 300;
    }

    h5 {
        font-size: 14px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a{
        font-size: 19px;
        font-weight: 300;   
        text-decoration: none;     
    }
}

@media (max-width: 540px) {
    h1 {
        font-size: 32px;
        line-height: 100%;
        font-weight: 300;
    }

    h2 {
        font-size: 35px;
        line-height: 100%;
        font-weight: 300;
    }

    h3 {
        font-size: 20px;
        line-height: 120%;
        font-weight: 300;
    }

    h4 {
        font-size: 16px;
        line-height: 130%;
        font-weight: 300;
    }

    h5 {
        font-size: 12px;
        line-height: 140%;
        font-weight: 300;
    }

    p, a{
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;        
    }
}