#page-dashboard-usoGeral {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: var(--gap-3);
    overflow-y: auto;
    position: relative;
    
    & main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;
        gap: var(--gap-1);
    }
}

.father-general-use{
    position: relative;
    display: flex;
    gap: var(--gap-3);
    width: 100%;
    height: 100%;
    z-index: 10;

    & .child-general-use{
        display: flex;
        flex-direction: column;
        gap: var(--gap-3);
        width: 50%;
        height: 100%;

        & .general-use-content-large{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap-3);
        }

        & .general-use-content-medium{
            width: 100%;
            height: 52%;
            padding: var(--gap-2);

            border-radius: 30px;
            border: 2px solid rgba(255, 255, 255, 0.50);
            background: rgba(255, 255, 255, 0.11);
            box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
            backdrop-filter: blur(2px);
        }

        & .general-use-content-disco{
            width: 100%;
            height: 48%;
            padding: var(--gap-1);

            border-radius: 30px;
            border: 2px solid rgba(255, 255, 255, 0.50);
            background: rgba(255, 255, 255, 0.11);
            box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
            backdrop-filter: blur(2px);
        }
    }

    & .child-analise-uso{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 999;

        & .card-analise-uso{
            width: 80%;
            height: 90%;
            border-radius: 20px;
            border: 2px solid var(--Grays-White, #FFF);
            background: rgba(255, 255, 255, 0.99);
            box-shadow: 0px 0px 82.7px -41px #794ED4;
            backdrop-filter: blur(5.5px);
            padding: var(--gap-2);

            & h2{
                width: 100%;
                height: 50px;
            }

            & .cards-space-graphic{
                display: flex;
                width: 100%;
                height: calc(100% - 12% - 50px);

                & .graphic-space{
                    width: 60%;
                    height: 100%;
                    padding: var(--gap-3);

                    & .card-graphic-analise{
                        width: 100%;
                        height: 100%;
                        border: 2px solid var(--normal-purple);
                        border-radius: 10px;
                    }
                }

                & .sgi-space{
                    width: 40%;
                    height: 100%;
                    padding: var(--gap-3);

                    & .card-sgi-analise{
                        width: 100%;
                        height: 100%;
                        border: 2px solid var(--normal-purple);
                        border-radius: 10px;
                    }
                }
            }

            & .button-space{
                width: 100%;
                height: 12%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.gerenal-use-father-one{
    display: flex;
    gap: var(--gap-4);
    width: 100%;
    height: 100%;

    & .general-use-card-tendencia{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: var(--gap-1);

        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.11);
        box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
        backdrop-filter: blur(2px);
    }
}

.general-use-cards-info{
    display: flex;
    gap: var(--gap-3);
    width: 100%;
    height: 25%;

    & .card-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: var(--gap-1);

        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.11);
        box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
        backdrop-filter: blur(2px);
    }
}

.general-use-father-two{
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    width: 100%;
    height: 75%;
    max-height: 540px;
    padding: var(--gap-1);
    overflow: hidden;

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);

    & .list-machine-menu{
        width: 100%;
        height: 43px;
    }

    & .list-machine-card{
        width: 100%;
        height: calc(100% - 60px);
        position: relative;

        & .column-machine{
            display: grid;
            column-gap: var(--gap-1);
            row-gap: var(--gap-2);
            grid-template-columns: 1fr 3fr 2fr 2fr 3fr;
            width: 100%;
            height: 30px;
            padding: 0px 20px 0px 9px;

            & .column-item{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        & .line-list-machine{
            border: 2px solid var(--normal-purple);
            border-radius: 5px;
            margin: 5px 0 13px 0;
        }

        & .machine-card-space{
            overflow-y: scroll;
            overflow-x: hidden;
            width: 99.8%;
            height: calc(100% - 50px);
            padding: 0px 5px 0px 5px;
            
            & .machine-card{
                width: 99.8%;
                height: 40px;
                margin-bottom: var(--gap-1);
                display: grid;
                column-gap: var(--gap-1);
                row-gap: var(--gap-2);
                grid-template-columns: 1fr 3fr 2fr 2fr 3fr;
                margin-right: 5px;

                border-radius: 30px;
                border: 2px solid rgba(255, 255, 255, 0.50);
                background: rgba(255, 255, 255, 0.11);
                box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
                backdrop-filter: blur(2px);

                & .column-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        & .machine-card-space::-webkit-scrollbar {
            width: 4px;
        }

        & .machine-card-space::-webkit-scrollbar-track {
            background: var(--white-normal);
            border-radius: 10px;

            margin-bottom: 15px;
        }

        & .machine-card-space::-webkit-scrollbar-thumb {
            background: var(--normal-purple);
            border-radius: 10px;
        }
    }

    & .list-machine-card::after {
        content: ''; /* Necessário para criar o pseudo-elemento */
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 100%;
        height: 10%; /* Tamanho do gradiente de blur */
        background: #f7edfd88; /* Cor de fundo com transparência */
        filter: blur(10px); /* Aplica o efeito de desfoque */
        pointer-events: none; /* Garante que o pseudo-elemento não interfira na interação */
    }
}

.general-use-father-three{
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    width: 100%;
    height: 100%;

    & h4{
        width: 100%;
        height: 33px;
    }

    & .space-graphic{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 33px);
    }

    & .space-disco-info{
        display: flex;
        gap: var(--gap-2);
        width: 100%;
        height: 100%;

        & .space-graphic-disco{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
        }

        & .info-disco-maquinas{
            width: 50%;
            height: 100%;
            padding: var(--gap-2);
            display: flex;
            flex-direction: column;
            gap: var(--gap-2);

            border: 2px solid var(--normal-purple);
            border-radius: 20px;

            & .item-faixa{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
                border: 2px solid var(--normal-purple);
                padding: 0px var(--gap-1);

                & .space-disco-faixa{
                    width: 45%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}