#page-dashboard-usoGeral {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: 3%;
    overflow-y: auto;
    
    & main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;
        gap: var(--gap-1);
    }
}

.father-general-use{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    width: 100%;
    height: 100%;

    & .child-general-use{
        display: flex;
        gap: var(--gap-4);
        width: 100%;
        height: 50%;

        & .general-use-content-large{
            width: 55%;
            height: 100%;
        }

        & .general-use-content-medium{
            width: 45%;
            height: 100%;
            padding: var(--gap-1);

            border-radius: 30px;
            border: 2px solid rgba(255, 255, 255, 0.50);
            background: rgba(255, 255, 255, 0.11);
            box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
            backdrop-filter: blur(2px);
        }
    }
}

.gerenal-use-father-one{
    display: flex;
    gap: var(--gap-4);
    width: 100%;
    height: 100%;

    & .general-use-card-tendencia{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: var(--gap-1);

        border-radius: 30px;
        border: 2px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.11);
        box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
        backdrop-filter: blur(2px);
    }

    & .general-use-cards-info{
        display: flex;
        flex-direction: column;
        gap: var(--gap-2);
        width: 50%;
        height: 100%;

        & .card-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 50%;
            padding: var(--gap-1);

            border-radius: 30px;
            border: 2px solid rgba(255, 255, 255, 0.50);
            background: rgba(255, 255, 255, 0.11);
            box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
            backdrop-filter: blur(2px);
        }
    }
}

.general-use-father-two{
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    width: 100%;
    height: 100%;
    padding: var(--gap-1);

    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
    backdrop-filter: blur(2px);

    & .list-machine-menu{
        width: 100%;
        height: 43px;
    }

    & .list-machine-card{
        width: 100%;
        height: calc(100% - 43px);

        & .column-machine{
            display: grid;
            column-gap: var(--gap-1);
            row-gap: var(--gap-2);
            grid-template-columns: 1fr 3fr 2fr 2fr 3fr;
            width: 100%;
            height: 30px;

            & .column-item{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        & .line-list-machine{
            border: 2px solid var(--normal-purple);
            border-radius: 5px;
            margin: 5px 0 13px 0;
        }

        & .machine-card-space{
            overflow-y: scroll;
            overflow-x: hidden;
            width: 99.8%;
            max-height: 210px;
            height: calc(100% - 44px);
            margin-right: 0px;
            
            & .machine-card{
                width: 99.8%;
                height: 40px;
                margin-bottom: var(--gap-1);
                display: grid;
                column-gap: var(--gap-1);
                row-gap: var(--gap-2);
                grid-template-columns: 1fr 3fr 2fr 2fr 3fr;
                margin-right: 5px;

                border-radius: 30px;
                border: 2px solid rgba(255, 255, 255, 0.50);
                background: rgba(255, 255, 255, 0.11);
                box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
                backdrop-filter: blur(2px);

                & .column-item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        & .machine-card-space::-webkit-scrollbar {
            width: 4px;
        }

        & .machine-card-space::-webkit-scrollbar-track {
            background: var(--white-normal);
            border-radius: 10px;

            margin-bottom: 15px;
        }

        & .machine-card-space::-webkit-scrollbar-thumb {
            background: var(--normal-purple);
            border-radius: 10px;
        }
    }
}

.general-use-father-three{
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    width: 100%;
    height: 100%;

    & h4{
        width: 100%;
        height: 33px;
    }

    & .space-graphic{
        background: rgb(0, 66, 128);
        width: 100%;
        height: calc(100% - 33px);
    }
}