#page-dashboard-alert {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(121, 78, 212, 0.00) 0%, rgba(121, 78, 212, 0.30) 100%), var(--Grays-White, #FFF);
    padding: 3%;
    overflow-y: auto;

    & main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: calc(100% - 90.4%);
        width: 91%;
        height: 100%;
    }
}

.dash-alert-topo {
    width: 100%;
    height: 13%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.dash-alert-pai {
    width: 100%;
    height: 87%;
    padding-top: 1.5%;
    /* background-color: blue; */

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}

.dash-alert-coluna-1 {
    width: 40%;
    height: 100%;
    /* background-color: yellow; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.dash-alert-lista-pai {
    width: 100%;
    height: 81%;
    background-color: aqua;

    padding: 5%;
    /* margin-bottom: 5%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 39px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0px 0px 82.7px -41px rgba(121, 78, 212, 0.90);
}

.dash-alert-lista-colunas {
    width: 100%;
    height: 10%;

    /* background-color: aqua; */
    display: flex;
    flex-direction: row;

    align-items: center;
    padding-left: 4%;
    margin-bottom: 2%;
}

.dash-alert-lista-scroll {
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: start;
    /* padding-left: 2%; */

}

.dash-alert-lista-scroll::-webkit-scrollbar {
    width: 12px;
    /* Largura da barra de rolagem */
}

.dash-alert-lista-scroll::-webkit-scrollbar-track {
    background: #f0f0f000;
    /* Cor de fundo da trilha */
    border-radius: 10px;
    /* Cantos arredondados */
}

.dash-alert-lista-scroll::-webkit-scrollbar-thumb {
    background-color: var(--light-purple);
    /* Cor do "polegar" da barra */
    border-radius: 10px;
    /* Cantos arredondados */
    border: 3px solid #f0f0f0;
    /* Espaçamento interno */
}

.dash-alert-lista-scroll::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-purple);
    /* Cor ao passar o mouse */
}

.dash-alert-lista-objeto {
    width: 100%;
    min-height: 13%;

    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;
    padding-left: 4%;
    margin-bottom: 2%;

    & p {
        margin-bottom: 0px;
    }

    & h4 {
        margin-bottom: 0px;
    }
}

.dash-alert-campo-barra {
    width: 90%;
    height: 10%;
    position: relative;
    background-color: var(--gray-3);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.distribuicao-campo-barra {
    color: var(--Grays-White);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    text-align: center;
    text-justify: auto;
    padding: 2px;
}

.campo-acesso-radar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Para evitar transição de largura */
    height: 100%;
    opacity: 0;
    background: none;
    z-index: 0;
    /* visibility: hidden;  */
    display: flex; /* Mantido para layout flexível */
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s linear, visibility 0s linear 0.5s;
    color: white;
    cursor: pointer;
}

.dash-alert-campo-barra:hover .distribuicao-campo-barra {
    transition: 200ms;
    display: none; /* Este pode ser removido, dependendo do seu caso */
}

.dash-alert-campo-barra:hover .campo-acesso-radar {
    opacity: 1;
    visibility: visible; /* Use visibility para mostrar o elemento */
    background-color: var(--dark-purple);
    transition-delay: 0s; /* Isso é opcional */
}



/* PARTE 2 -------------------------------------------------------------------------------- */
.dash-alert-coluna-2 {
    width: 60%;
    height: 100%;
    position: relative;
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.dash-alert-coluna-2-dados {
    width: 90%;
    height: 20%;
    /* margin-top: 6.65%; */
    padding: 2%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 25px;
    border: 3px solid #794ED4;
    /* background: rgba(255, 255, 255, 0.00); */
    /* box-shadow: 0px 0px 82.7px -41px #794ED4; */
}

.dados-metade {
    width: 48%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;

    /* background-color: yellow; */
}

.dados-parte-meio {
    width: 0.5%;
    height: 100%;
    background-color: #794ED4;
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dash-alert-coluna-2-area-grafico {
    width: 90%;
    height: 75%;
    padding: 4%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    border-radius: 39px;
    background: var(--Grays-White, #FFF);
    box-shadow: 0px 0px 82.7px -41px #794ED4;
}

.area-grafico {
    width: 100%;
    height: 90%;
    /* background-color: #794ED4; */

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}



/* POPUP -------------------------------------------------------------------------------- */

.pai-popup-radar-fechado{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0px 0px 82.7px -41px #794ED4; */
    width: 90%;
    height: 0%;
    border-radius: 25px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s ease, height 0.5s ease;
    padding-top: 1%;
    border: 3px solid #794ED4;

}
.opacidade1{
    opacity: 1;
    height: 100%;
    /* display: flex; */
}

.organizacaopopup{
    display: flex; 
    flex-direction: row; 
    height: 70%; 
    width: 100%; 
    justify-content: center; 
    align-items: center; 
    gap: 0.5;
}

.campo-sgi{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5;
    width: 40%;
    height: 90%;
    /* background-color: yellow; */
}

.campo-sgi-resp{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* border: 3px solid #794ED4; */
    background-color: rgb(212, 212, 212);
    padding: 7%;    
}


.area-grafico-radar {
    width: 50%;
    height: 90%;
    /* background-color: #794ED4; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-sair-radar {
    width: 20%;
    background-color: var(--dark-purple);
    color: var(--white-dark);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn-sair-radar:hover {
    background-color: var(--white-dark);
    color: var(--dark-purple);
    transition: 0.5s ease;
  }